@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');
@import "tailwindcss";

@plugin "daisyui";




body, html {
  background-color: #F6F5F3 !important;
  font-family: "Merriweather Sans", sans-serif;
  scroll-behavior: smooth;
  
}

#__next, main {
  background-color: #F6F5F3 !important;
}
.btno{
background-color:#F6F5F3 ;
border: none;
cursor: pointer;
width: 2.5rem;
height: 2.5rem;
font-size: 1.5rem;
margin-left: 1rem;
}
.btno:hover{
  opacity: 0.8;
}

